version: '3'

volumes:
  base-data:
  hydr_db-data:
  nginx-data:
  redis-data:

services:
  hydr_db:
    image: postgres:15-alpine
    env_file:
      - backend/src/envs/.env_dev
    restart: always
    volumes:
      - ./volumes/hydr_db-data:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT:-5431}:5432

  hydr_backend:
    #restart: always
    env_file:
      - backend/src/envs/.env_dev
    build:
      args:
        env: ${ENV:-dev}
      context: ./backend
      dockerfile: ./Dockerfile
    environment:
      - PYTHON-UNBUFFERED=0
      #- DISPLAY=unix$DISPLAY
    command: | 
      bash -c "set -ex      
      until </dev/tcp/hydr_db/5432; do
      >&2 echo 'Postgres is unavailable - sleeping'; sleep 1
      done
      sleep 2
      >&2 echo 'Postgres is up - executing command'      
      alembic upgrade head &&
      uvicorn backend.src.main:app --reload --workers 1 --host 0.0.0.0 --port 8000 --log-config=backend/src/logconfig.yml"
    volumes:
      - ./volumes/base-data:/data
      - .:/code/
      #- /tmp/.X11-unix:/tmp/.X11-unix
    depends_on:
      - hydr_db
      - redis
    ports:
      - "8666:8000"

  nginx:
    #restart: always
    env_file:
      - backend/src/envs/.env_dev
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    volumes:
      - ./volumes/nginx-data:/etc/letsencrypt
    depends_on:
      - hydr_backend
    ports:
      - "80:80"
      - "444:444"

  redis:
    #restart: always
    image: redis:latest
    ports:
      - "6479:6379"
    volumes:
      - ./volumes/redis-data:/data
